.spacer {
    flex: 1 1 auto;
}

.a{
    margin-right: 2px;
    color: white;
    background-color: blueviolet;
}

.a:hover{
    color: whitesmoke;
    background-color: rgb(127, 46, 202);
}

.home{
    text-decoration: none;
    color: white;
}