<br><br><br>
<mat-card>
  <div>
    Mostra le semine a partire dalla data:
    <mat-form-field>
      <mat-label>Data di inizio semine</mat-label>
      <input #dal matInput [matDatepicker]="myDatePicker" (focus)="showPicker()" [min]="minDate" [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatePicker></mat-datepicker>
    </mat-form-field>&nbsp;&nbsp;
    Fino alla data:
    <mat-form-field>
      <mat-label>Data di fine semine</mat-label>
      <input #al matInput [matDatepicker]="myDatePicker1" (focus)="showPicker1()" [min]="minDate" [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="myDatePicker1"></mat-datepicker-toggle>
      <mat-datepicker #myDatePicker1></mat-datepicker>
    </mat-form-field>&nbsp;&nbsp;
    <button mat-raised-button (click)="createGantt(dal.value, al.value);">Conferma</button>
    <p>Vedi tutte le semine&nbsp;&nbsp;<button (click)="showAll();" mat-raised-button>Conferma</button></p>
    <br>
    <p class="caution">*Nota bene: Perchè la semina sia visibile deve sia iniziare che finire nell'intervallo di date
      inserito</p>
    <p class="suggest">*Suggerimenti: Passando con il cursore sopra la barra di una semina specifica o
      dell'appezzamento darà più informazioni sulla semina/appezzamento<br>
      Se avete sbagliato a mettere una semina rivolgetevi direttamente allo staff utilizzando uno dei metodi che
      trovate nella sezione contatti e la semina sarà eliminata</p><br>
  </div>
  <div>
    <ng-gantt [options]="editorOptions" [data]="data" #editor></ng-gantt>
  </div>
</mat-card>