ng-gantt>

div {
    height: 100%;
}

mat-card{
    width: 80%;
    margin: auto;
    background-color: white;
}

button{
    background-color:blue;
    color:white;
}

.suggest{
    color: blue;
}

.caution{
    color: red;
}