h2{
    margin-left: 43.5%;
    font-family: sans-serif;
}

mat-card{
    width: 80%;
    margin: auto;
    background-color: white;
}

button:hover{
    background: blue;
    color: whitesmoke;
}

button{
    background-color: rgb(76, 114, 240);
    color: white;
}

table, td, th {
    border: 1px solid rgb(35, 116, 236);
}
  
table { 
    color: whitesmoke;
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tbody{
    background-color: rgb(102, 173, 255);
}

thead{
    background-color: rgb(9, 128, 197);
}

td{
    word-wrap:break-word;
    width: 15%;
    text-align: center;
    align-self: center;
}

.a{
    width: 98%;
    margin-top: 2px;
    cursor: pointer;
    color: white;
    background-color: red;
}

.a:hover{
    color: whitesmoke;
    background-color: rgb(235, 2, 2);
}

.img-preview-container {
    background-color: rgb(102, 173, 255);
    position: relative;
    margin: auto;
    background: center center no-repeat;
    background-size: contain;
    height: 116px;
    width: 116px;
}

.img-preview {
    background: center center no-repeat;
    background-size: contain;
    height: 116px;
    width: 116px;
}


.img-loading-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.suggest{
    color: blue;
}

.caution{
    color:red;
}

.new{
    background-color:blue;
    color:white;
    margin-left: 40%;
}
