<h2>Semi</h2>
<mat-card *ngIf="semi!=null">
  <button mat-raised-button class="new" (click)="add()">Nuovo<mat-icon>add</mat-icon></button>
  <br><br>
  <p class="suggest">*Suggerimento: Se dopo aver effetuato la modifica i dati nella tabella non risultano aggiornati e
    non è stato visualizzato alcun messaggio d'errore provare ad aggiornare la pagina
  </p>
  <p class="caution">*Attenzione: Il formato della data segue lo standard americano(mm/dd/aa)
  </p>
  <table>
    <thead>
      <tr>
        <th>Immagine</th>
        <th>Nome</th>
        <th>Descrizione</th>
        <th>Intervallo semina</th>
        <th>Tempo crescità</th>
        <th>Azione</th>
      </tr>
    </thead>
    <tbody *ngFor="let seme of semi">
      <tr>
        <td>
          <div class="img-preview-container">
            <div class="img-preview" [ngStyle]="{'background-image': 'url('+ seme.img + ')'}">
              <div class="img-loading-overlay">
                <div class="img-spinning-circle"></div>
              </div>
            </div>
          </div>
        </td>
        <td>{{seme.nome}}</td>
        <td>{{seme.descrizione}}</td>
        <td>{{seme.dataInizio}}->{{seme.dataFine}}</td>
        <td>{{seme.tempoCrescita}}</td>
        <td><button mat-raised-button (click)="modifica(seme.nome)">Modifica</button>
          <button mat-raised-button (click)="semina(seme.nome)">Pianifica</button>
          <a mat-raised-button class="a" (click)="delete(seme)">Elimina</a></td>
      </tr>
    </tbody>
  </table>
</mat-card>