mat-form-field{
    width: 45%;
    margin-left: 10px;
}

::placeholder {
    color: cadetblue;
}

.img-preview-container {
    background-color: #f7f7f7;
    position: relative;
    background: center center no-repeat;
    background-size: contain;
    height: 116px;
    width: 116px;
}

.img-preview {
    background: center center no-repeat;
    background-size: contain;
    height: 116px;
    width: 116px;
}

.img-loading-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.exit {
    background-color: red;
    color: white;
}

.update {
    background-color: blue;
    color: white;
    margin-left: 210px;
    top: 35px;
}

.inputfile {
	width: 100px;
	height: 100px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    width: 200px;
    height: 50px;
    text-align: center;
    border-top-style: 20px;
    color: white;
    background-color: red;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: whitesmoke;
    background-color: rgb(235, 2, 2);
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}