mat-form-field{
    width: 45%;
    margin-left: 10px;
}

.exit {
    background-color: red;
    color: white;
}

.add {
    background-color: blue;
    color: white;
    margin-left: 40%;
}

div{
    flex: 1 1 auto;
}

p{
    position: absolute; 
    top: 250px; 
    color: red;
    left: 10%;
}