<h2 style="margin-left: 45%;">Homepage</h2>

<mat-card>
    <div>
        <img src={{image}}>
    </div>
    <p style="position: absolute; top: 25px; margin-left: 500px;">
        <b style="margin-left: 120px;">Benvenuti nella nostra Homepage</b><br><br>
        Utilizzando questo programma potrette creare il vostro set di semi e gestire le semine dei vostri 
        terreni!!<br>
        Ancdando nella schermata dei semi potrete aggiungere, modificare o eliminare i vostri semi o 
        anche addirittura pianificare una semina.<br>
        Scegliendo invece l'opzione pianificazioni potrete vedere ed eliminare tutte le semine pianificate.<br>
        Ci auguriamo che il nostro servizio sia di vostro gradimento, per qualsiasi problema o suggerimento potrete
        contattarci utilizzando l'apposita opzione contatti.
    </p>
</mat-card>