<h2>Homepage</h2>

<mat-card>
    <div>
        <img src={{image}}>
    </div>
    <p>
        <b>Benvenuti nella nostra Homepage</b><br><br>
        Utilizzando questo programma potrete creare il vostro set di semi e gestire le semine dei vostri
        terreni!!<br>
        Andando nella schermata dei semi potrete aggiungere, modificare o eliminare i vostri semi o
        anche addirittura pianificare una semina.<br>
        Scegliendo invece l'opzione pianificazioni potrete vedere ed eliminare tutte le semine pianificate.<br>
        Ci auguriamo che il nostro servizio sia di vostro gradimento, per qualsiasi problema o suggerimento potrete
        contattarci utilizzando l'apposita opzione contatti.
    </p>
</mat-card>