<br>
<h2 style="margin-left: 42%;">Benvenuto nella sezione contatti</h2>
<br>
<mat-card>
    <div style="margin-left: 70px;">
        <img src={{image}}>
    </div>
    <div style="position: absolute; top: 10px; margin-left: 850px;">
        <img src={{image2}}>
    </div>
    <div style="position: absolute; top: 25px; margin-left: 400px;">
        Se stai cercando il creatore di questo codice e non sai<br> 
        dove trovarlo puoi contattarlo con i seguenti metodi:<br><br>

        <b>e-mail</b>: bujor.marceliulian@studenti-ittfedifermi.edu.it<br>
        <b>Telegram username</b>: @Marcel37
        <br><br>Per informazioni <b>urgenti</b> è consigliabile utilizzare lo username<br>
        telegram in quanto è più probabile ricevere una risposta in breve tempo
    </div>
</mat-card>