<br>
<h2>Benvenuto nella sezione contatti</h2><br>

<mat-card>
    <div class="telegram"><img src={{telegram}}></div>
    <div class="gmail"><img src={{gmail}}></div>
    <div class="text">
        Se stai cercando il creatore di questo codice e non sai<br>
        dove trovarlo puoi contattarlo con i seguenti metodi:<br><br>
        <b>e-mail</b>: bujor.marceliulian@studenti-ittfedifermi.edu.it<br>
        <b>Telegram username</b>: @Marcel37
        <br><br>Per informazioni <b>urgenti</b> è consigliabile utilizzare lo username<br>
        telegram in quanto è più probabile ricevere una risposta in breve tempo
    </div>
</mat-card>